<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title><TMPL_VAR name></title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" type="image/png" href="images/logo.png">
	<link rel="alternate" type="application/atom+xml" title="<TMPL_VAR title ESCAPE="HTML"> Atom 1.0" href="<TMPL_VAR link ESCAPE="HTML">atom.xml">
	<link rel="alternate" type="application/rss+xml" title="<TMPL_VAR title ESCAPE="HTML"> RSS 2.0" href="<TMPL_VAR link ESCAPE="HTML">rss20.xml">
	<link rel="stylesheet" href="planet.css" type="text/css">




	
</head>

<body>

<div id="page">
	<div class="topbar">
		<div id="sympy-title">
			<a href="http://www.sympy.org"><strong>Sympy</strong>.ORG</a>
		</div>

		<div id="planet-banner">
			<a href ="/#">
			<img id="planet-logo" src="images/logo.png"  alt="Planet Sympy" title="Planet Sympy" style="vertical-align:middle"/>
			Planet Sympy
			</a>

		</div>
	</div>




	<div id="content">

	<TMPL_IF banner_message>
	<div class="banner"><TMPL_VAR banner_message></div>
	</TMPL_IF>

	<TMPL_LOOP Items>

		<TMPL_IF new_date>
			<h2 class="date"><TMPL_VAR new_date></h2>
		</TMPL_IF>

		<div class="entry<TMPL_IF channel_nick> <TMPL_VAR channel_nick></TMPL_IF>">
			 <div id="person-info">
				<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name><TMPL_IF channel_real><br><TMPL_VAR channel_real></TMPL_IF><TMPL_IF channel_nick><br>(<TMPL_VAR channel_nick>)</TMPL_IF></a>
			</div>				

			<div class="post">
				<div class="post-header">
					<TMPL_IF title><h3 class="post-title"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h3></TMPL_IF>
				</div> <!-- /post-header -->

				<div class="post-contents <TMPL_IF channel_fixedwidth>post-fixedwidth</TMPL_IF>">
					<TMPL_VAR content>
				</div> <!-- /post-contents -->

				<div class="post-footer">
					<p><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR date></a></p>
				</div> <!-- /post-footer -->

				<b class="vt lt"></b><b class="vt rt"></b><b class="hz to"></b><b class="hz bo"></b>
				<b class="cr tl"></b><b class="cr tr"></b><b class="cr bl"></b><b class="cr br"></b>
			</div> <!-- /post -->
	</div> <!-- /entry -->

	</TMPL_LOOP>

</div> <!-- /content -->

	<div class="sidebar">
	    <h2>Subscriptions:</h2>

	      <ul>
	      <TMPL_LOOP Channels>
		<li>
		<a href="<TMPL_VAR url ESCAPE="HTML">" title="subscribe"><img src="images/feed-icon-10x10.png" alt="(feed)"></a> <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF><TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></a>
		</li>
	      </TMPL_LOOP>
	      </ul>

	    <h2>
	      <ul>
	      <strong>Last updated:</strong><br>
	      <TMPL_VAR date><br>
	      <em>All times are UTC.</em><br>
	      <br>
	      Powered by:<br>
	      <a href="http://www.planetplanet.org/"><img src="images/planet.png" width="80" height="15" alt="Planet" border="0"></a>
	      </ul>
	    </h2>

	    <p>
	      <h2>Planetarium:</h2>

	      <ul>
		<li><a href="http://www.planetapache.org/">Planet Apache</a></li>
		<li><a href="http://planet.debian.net/">Planet Debian</a></li>
		<li><a href="http://planet.freedesktop.org/">Planet freedesktop.org</a></li>
		<li><a href="http://planet.gnome.org/">Planet GNOME</a></li>
		<li><a href="http://planetsun.org/">Planet Sun</a></li>
		<li><a href="http://fedora.linux.duke.edu/fedorapeople/">Fedora People</a></li>
		<li><a href="http://www.planetplanet.org/">more...</a></li>
	      </ul>
	    </p>
	</div><!-- / sidebar -->
	<div id="footer">
	      
            <div class="block">
              <p>Copyright © 2012 SymPy Development Team.
                &nbsp;
                &nbsp;
                &nbsp;
                This page is open source. Fork <a href="https://planet.sympy.org">the project on GitHub</a> to edit it.
                &nbsp;
                &nbsp;
                &nbsp;
              </p>
            </div>
        </div> <!-- /footer -->
</div> <!-- /page -->
</body>

</html>
