body {
	margin-right: 200px;
        margin-left: 000px;

	padding-right: 20px;
	
	font-style:monospace;
	
	background-color:#F2FAEB;
}

#content {
	margin: 0px auto 0px auto;
	padding: 0px 1em 0px 1em;
	max-width: 60em;
	padding-top: 150px;
	background-color:#F2FAEB;

}
#sympy-title
{
  background: none repeat scroll 0 0 #FFFFFF;
  height: 10px;
  border: 1 none;
  text-decoration: None;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: #2E3436;
  font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu
  Sans',Arial,sans-serif;
  font-size: 14px;
  line-height: 1.7em;
}

#sympy-title a
{
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  background: url("") no-repeat scroll 8px 7px #FFFFFF;
  color: #555753;
  float: right;
  font-size: 12px;
  font-style:none;
  margin-right: 30px;
  padding: 4px 12px 2px 26px;
  text-decoration: none;
  line-height: 1.7em;
}

.topbar
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 2px solid #ccc;
	background: #f9f9f9;
	margin-top: 0;
	padding-top:5px;
	border-color:#81B953;

	
}

 .topbar #planet-banner a {
    text-decoration: none;

      color:#3B5526;
      font-style:none;
      font-size:45px;
      font-family:"Times New Roman", Times;
}
#page
{
  background: url("") repeat-x scroll center top #F2FAEB;
  font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu
  Sans',Arial,sans-serif;
}


a
{ 
  color: #0489B7;
}


div.post-contents
{
  background: white;
}

.post-title a
{
  color: #0489B7;
  font-weight: bold;
}



#planet-logo{
	margin-left:1%;
  
}
#planet-sympy {
	margin-left:9%;
  
}

#planet-subtitle
{
  color: #555753;
  font-size: 100%;
  font-weight: bold;
  margin: 0;
}



.post
{
  color: #555753;
  line-height: 1.6;
}

h2.date {
	color: #777;
	font-weight: normal;
	font-size: large;
}

div.entry {
	clear: both;
}

#person-info {
	float: left;
	margin-top: 25px ;
	padding: 0 1.5em 0 1em;
	left: 4px;
	width: 8.5em;
	text-align: center;
}

#person-info a {
	text-decoration: none;
	color: #777;
	font-size: large;

}
#person-info a:hover {
	color: inherit;
}


div.post {
	position: relative;
	margin-left: 10em;
	padding: 2em;
}


.post-title {
	position: relative;
	z-index: 1;
	margin-top: 0px;
	font-size: large;
}

.post-title a {
	text-decoration: none;
}

.post-title a:hover {
	text-decoration: underline;
}

.post-contents {
	position: relative;
	z-index: 1;
	line-height: 140%;
}

.post-contents h2, .post-contents h3, .post-contents h4 {
	font-size: 100%;
	font-weight: bold;
}

.post-contents img,
.post-contents video {
	width: auto;
	max-width: 100%;
	height: auto;
}

.post-contents a img {
	border: 0px;
}

.post-contents blockquote, .post-contents pre {
	color: #777;
	margin: auto 1em auto 1em;
	padding-left: 1em;
	border-left: 5px solid #ddd;
}

.post-fixedwidth {
	white-space: pre;
}

.post-contents pre {
	overflow: auto;
}

.post-contents ul {
	margin: 0px;
	margin-left: 1em;
	padding: 0px;
	list-style-image: url("image/arrow.png");
}
.post-contents ul li {
	margin: 1em;
	padding: 0px;
}

.post-contents .delicious-tags {
	text-align: right;
	font-size: x-small;
}

.post-contents:after {
	content: "";
	display: block;
	clear: both;
}

.post {
	border-color:#81B953;
	border-width:1px;
	border-style:solid;    
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	background:white;
	
  
}
.sidebar {
	position:absolute;
	top: 18%;
	right:0px;
	width:200px;
	border-color:#81B953;
	border-width:2px;
	border-style:solid;
	padding:10px 10px 10px 10px;
	background-color:white;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	font-family: "Bitstream Vera Sans", sans-serif;
	font-size: 85%;
}



.sidebar h2 {
	font-size: 110%;
	font-weight: bold;
	color: #06570A;
	padding-left: 5px;
	border: 0.5px dashed black;

	margin-left: 0px;
	width:200px;
}


  
.sidebar ul {
  list-style: url(images/arrow.png);

}

.sidebar ul li:hover {
	color: grey;
}

.sidebar ul li a {
        text-decoration: none;
}

.sidebar ul li a:hover {
        text-decoration: underline;
}

.sidebar ul li a img {
        border: 0;
}

.sidebar p {
	border-top: 1px solid grey;
	margin-top: 30px;
	padding-top: 10px;

	padding-left: 5px;
}

#footer .block {  
	color: #FFF;
	background: #3B5526;
	max-width: auto;
	min-width: auto;
	font-size: 80%;
	font-weight: bold;
}

#footer .block p {      
  margin: 1;  
  padding: 6px;
}
